beautifulsoup4==4.6.3
certifi==2018.10.15
chardet==3.0.4
idna==2.7
langdetect==1.0.7
lxml==4.2.5
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
py-translator==1.8.9
python-slugify==1.2.6
requests==2.20.1
six==1.11.0
Unidecode==1.0.23
urllib3==1.24.1
vk==2.0.2
